name: ASP.NET CI/CD

on:
  push:
    branches: ['main']

jobs:
  build:
    name: Build Asp.Net Project And Run EF Migrations
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --no-restore

      - name: Run EF Core Migrations
        env:
          ConnectionStrings__DefaultConnection: ${{ secrets.PROD_CONNECTION_STRING }}
        run: |
          echo "Running EF migrations..."
          dotnet tool install --global dotnet-ef
          export PATH="$PATH:/home/runner/.dotnet/tools"
          dotnet ef database update --connection "$ConnectionStrings__DefaultConnection"

  containerize:
    needs: build
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Build and Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: quoctin266/jobnexus
          tags: latest
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

  deploy:
    needs: containerize
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
